.aff-card {
  width: 180px;
  height: 260px;
  display:flex;
  align-items:center;
  justify-content:center;
  overflow:hidden;
  border-radius:8px;
  background: #fff;
}
.aff-card img {
  max-width:100%;
  max-height:100%;
  object-fit:cover;
  display:block;
}
